---
import H1 from '@/components/H1.astro'
import Main from '@/components/Main.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Sidetrek CLI init command" description="Sidetrek CLI init command">
  <Main>
    <H1>`init` command</H1>
  </Main>
</Layout>
