---
import { getCollection } from 'astro:content'
import Layout from '@/layouts/Layout.astro'
import Main from '@/components/Main.astro'
import H1 from '@/components/H1.astro'
import H2 from '@/components/H2.astro'
import H3 from '@/components/H3.astro'
import CodeBlock from '@/components/mdx/CodeBlock.astro'

export async function getStaticPaths() {
  const docsPages = await getCollection('docs', ({ data }) => {
    return import.meta.env.PROD ? data.draft === false : true
  })

  return docsPages.map((page) => {
    return {
      params: {
        slug: page.slug,
      },
      props: {
        page,
      },
    }
  })
}

const { page } = Astro.props
const { Content } = await page.render()
const { title, description } = page.data
---

<Layout title={title} description={description}>
  <Main>
    <Content components={{ h1: H1, h2: H2, h3: H3, code: CodeBlock }} />
  </Main>
</Layout>
