---
import H1 from '@/components/H1.astro'
import Main from '@/components/Main.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout title="Why Sidetrek?" description="Why should you use Sidetrek?">
  <Main>
    <H1>Why sidetrek</H1>
  </Main>
</Layout>
