---
import { FOOTER_HEIGHT } from '@/lib/constants'
---

<footer
  class="relative z-10 bg-white w-full border-t border-slate-200 p-6 text-center text-sm text-slate-400"
  style={{ height: `${FOOTER_HEIGHT}px` }}
>
  <div>Sidetrek &copy;Copyright 2024</div>
</footer>
