---
import PageBreadCrumb from './PageBreadCrumb.astro'
import { HEADER_HEIGHT } from '@/lib/constants'
---

<main class="px-4 md:px-8 py-6 text-slate-700 min-w-0 w-full max-w-[880px] mx-auto" style={{ height: `calc(100vh - ${HEADER_HEIGHT}px)` }}>
  <PageBreadCrumb />

  <slot />
</main>
