---
import PageBreadCrumb from './PageBreadCrumb.astro'
import { HEADER_HEIGHT } from '@/lib/constants'
---

<main class="py-6 w-full mx-auto text-slate-800" style={{ height: `calc(100vh - ${HEADER_HEIGHT}px)` }}>
  <div class="container px-4 md:px-8 mx-auto">
    <PageBreadCrumb />

    <slot />
  </div>
</main>
