---
import { cn } from '@/lib/utils'
import { Image } from 'astro:assets'

const src = Astro.props.src
const alt = Astro.props.alt
const className = Astro.props.className
---

<div class={cn('rounded-md overflow-hidden mb-6', className)}>
  <Image src={src} alt={alt} class="w-full h-full object-cover" />
</div>
